@import './variables';

nav {
    max-height: 100px;
    background-color: $primary-color;
    color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .brandLogo,
    .hamburgerIcon {
        flex-basis: 10%;
        max-width: 40px;
    }

    .brandName {
        max-width: 100px;
        display: table-caption;
        padding: 5px;
    }
}