.hero__container {
    background-image: url('./static/img/jakob-cotton-UQJf6y91zZs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    h2 {
        padding-top: 15px;
        margin-top: 0;
    }
}